h1 {
	color: rgba(255, 255, 255, 1);
	background-color: black;
}

p2 {
	color: rgba(0, 0, 0, 0);
}

body {
	background-image: url("./free_stock_photo-buffalo.jpg");
	background-size: cover;
}
